@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Cedarville+Cursive&family=Josefin+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=PT+Sans:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'joseffin sans', sans-serif;
}
html,body{
    height: 100vh;
}
.container{
    height: 100%;
}
i,a{
    cursor: pointer;
    text-decoration: none;
}
.navbar{
    background: #000;
    height: fit-content;
    width: 100%;
}
.logo h1{
    padding: 1em;
    font-size: 2.3em;
}
.searchbar{
    float: right;
    position: absolute;
    top: .2em;
    left: 75%;
    display: flex;
    align-items: center;
}
.searchbar i {
    color: white;
    margin-right: 1em;
}
.avatar{
    display: flex;
    align-items: center;
    margin: 1em;
}
.avatar img{
 width: 3em;
 height: 3em;
 border: 2px solid #fff;
 margin: 1px;
 padding: .5em;
 border-radius: 50%;
}
.avatar span{
    color: white;
    font-size: 1em;
}
.header-content{
    color: white;
    text-align: center;
    padding: 2em;
}
.btn1{
    background-color: orange;
    height: 2.5em;
    width: 20em;
    font-size: 1.2em;
    margin: 2em;
    border: none;
    border-radius: 5px;
}
.btn1 a{
    color: white;
    text-decoration: none;
}
.btn2{
    background-color: transparent;
    height: 2.5em;
    width: 22em;
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 5px;
}
.btn2 a{
    color: #fff;
    text-decoration: none;
}
.content{
    display: flex;
    margin: 1em 0;
    justify-content: center;
}
.step1{
    width: 20em;
    height: 18em;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 3em;
}
.step1 i{
    color: orange;
  font-size: 4em;
    margin-top: .5em;
}
.step1 h1{
    text-align: center;
    padding:.5em 0;
}
.step2{
    width: 20em;
    height: 18em;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 3em;
}
.step2 i{
    color: orange;
   font-size: 4em;
    margin-top: .5em;
}

.step2 h1{
    text-align: center;
    padding:.5em 0;
}
.step3{
    width: 20em;
    height: 18em;
    background-color: whitesmoke;
    text-align: center;
    margin-right: 3em;
}
.step3 i{
    color: orange;
    font-size: 4em;
    margin-top: .5em;
}
.step3 h1{
    text-align: center;
    padding:.5em 0;
}
/*Login component & register component*/
.login-container{
    display: flex;
    align-items: center;
}
@media (max-width:578px){
    .login-container{
        display: block;
        padding: 5em;
    }
    .form{
        padding: 2em;
    }
    .container-fluid {
     display: block;
    }
    .content{
        display: block;
        padding-right: 5em;
    }
}
.title{
    margin: 3em;
    width: 40vw;
    font-size: 2em;
}
.title h1{
    margin-top: 10vh;
    
}
.form{
    background: #fff;
    padding: 7em 2em 1em;
    margin-top: 10em;
    border-radius: 10px;
    width: 40em;
}
.form p{
    color: grey;
    font-size: 1.2em;
    text-align: center;
    padding: .6em;
}
.form h1{
    text-align: center;
}
.form label,span{
    color: grey;
    font-weight: bold;
}
.form input{
 width: 100%;
 height: 3em;
 border: 2px solid grey;
 margin-bottom: 2em;
 border-radius: 5px;
}
.form button{
    width: 25%;
    height: 3em;
    margin: 2em 25em;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
/*Dashboard */
.sidebar{
    height:100dvh;
    width: 20vw;
    background-color: #000;
    position: absolute;
    background-color: orange;
}
@media (max-width:578px){
    .sidebar{
        display: none;
    }
}
.list{
 margin-top: 2em;
 background-color: #000;
}
.list li{
    width: 100%;
    height: 5em;
    padding-left: 2em;
    display: flex;
    align-items: center;
    color: grey;
    cursor: pointer;
   
}
.list li a{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 800;
}
.list li a i{
    margin-right: 1em;
}
.list li:hover{
    border-left: 5px solid rgb(252, 252, 252) ;
    background: rgb(113, 104, 104);
    color: white;
}
.navbar-dash{
    display: flex;
    align-items: center;
}
.navbar-dash h1{
    position: absolute;
    left: 20%;
    top: .5em;
    font-weight: 500;
    padding-left: .5em;
}
.content2{
    position: relative;
    top: 5em;
    left: 40vw;
    border-bottom:2px solid grey;
    width: 35em ;
    height: 7em;
}
.content2 h2{
    padding:.5em;
}
.content2 span{
    font-weight: 400;

}
.add{
    display: flex;
    align-items: center;
    padding: .5EM;
}
.add i{
    margin-left: 68%;
    font-size: 2em;
}
.table2{
    position: absolute;
    left: 21%;
    top: 20em;
    width: 77vw;
    background-color: white;
    padding: 2em;
}
.table2 span{
    color: grey;
    font-weight: 300;
    display: block;
}

.table, th,td{
    border-bottom: 2px solid gray;
    border-collapse: collapse;
    background: #fff;
    }
   
    th,td{
        font-size: 1.25em;
        padding: .5em 3em;
        white-space: nowrap;
        height: 50px;
        width: 100;
        text-align: center;
        vertical-align: middle;
    }
    tbody{
       color: black;
    }
    thead{
        color: grey;
    }
    .table2 button{
        color: whitesmoke;
        border: none;
    }
  .table tr:hover{
    background: rgb(113, 104, 104);
    cursor: pointer;
  }
  .form-client{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 2em;width: 100%;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
  }
  .form-client h1{
    text-align: center;
    font-family: 'poppins',sans-serif;
  }
  #form{
    display: flex;
    flex-direction: column;
    width:30%;
    height: fit-content;
    border: 5px solid blue;
    padding-left: 1em;
    border-radius: 10px;
    text-align: left;
  }
  #form input{
    height: 3em;
    border: none;
    margin: 1em;
    border-bottom: 2px solid grey;
  }
  #form button{
    width: 25%;
    margin: 5em 35%;
    height: 3em;
    border-radius: 5px;
    background-color: orange;
    color: #fff;
    border: none;
  }
  .navbar-1{
    display: flex;
    align-items: center;
  }
  .navbar-1 h1{
    float: left;
    padding: 1em;
  }
  .profile{
   margin-left:70%;
   display: flex;
   align-items: center;
   margin-right:.5em;
}
.profile img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-left: .2em;
    border: 2px solid grey;
}
.profile-img{
    display: flex;
    align-items: center;
}
.content-3{
    display: flex;
    align-items: center;
    width: 25em;
    height: fit-content;
    border:2px solid whitesmoke;
    margin: 5em;
    padding: 2.5em;
}
.content-3 h3{
    text-align: center;
    padding: 1em;
}
.card-2{
    display: flex;
    align-items: center;
    margin: 1em 0;
    font-size: 1.1em;
}
.card-2 button{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background:grey;
     text-align: center;
     padding-top:.4em ;
     margin: 1em;
     border: none;
}
.card-2 button:hover{
    background: orange;
    color: white;
}
.card-2 span{
    display: block;
}
.step-1{
    display: flex;
    align-items: center;
    margin: 1em 0;
    font-size: 1.1em;
    cursor: pointer;
}
.step-1 span{
    display: block;
}
.card-2:hover{
    border-left: 5px solid orange;
    margin: 0;
    cursor: pointer;
}
.step-1 button{
    height: 3em;
    width: 4em;
    border-radius: 50%;
    background-color: grey;
     text-align: center;
     padding-top:.4em ;
     margin: 1em;
     border: none;
     transition:ease-in-out;
}
.step-1 button{
    background-color: orange;
    color: white;
}
.step-1:hover{
    border-left: 5px solid orange;
}

